@font-face {
  font-family: "CircularStd-Book";
  src: url("../fonts/CircularStd-Book.otf");
}

@font-face {
  font-family: "SF-Pro-Display-Regular";
  src: url("../fonts/SF-Pro-Display-Regular.otf");
}

@font-face {
  font-family: "SF-Pro-Display-Light";
  src: url("../fonts/SF-Pro-Display-Light.otf");
}

body {
  background-color: #373845;
}

a {
  cursor: pointer;
}

header {
  width: 100%;
  position: fixed;
  z-index: 100;
}
#header-container {
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(55,56,69,0);
}

#logo {
  margin-left: 10px;
  opacity: 0;
}

#logo img {
  height: 33px;
}



.closed-img {
  width: 30px;
  height: 30px;
  margin: 15px;
  background-image: url("../images/menu-button.png");
  background-size: cover;
}

.open {
  background-image: url("../images/close.png");
}

#navigation {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #373845;
  height: 240px;
  display: none;
}

#nav-links {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#nav-links a {
  width: 100%;
  text-align: center;
  padding-bottom: 15px;
  font-size: 15px;
  font-family: "CircularStd-Book", sans-serif;
  color: #FFFFFF;
}

.socials {
  width: 200px;
  height: 16px;
  display: flex;
  justify-content: space-around;
  padding-bottom: 15px;
}

.socials img {
  width: 16px;
  height: 16px;
}

#download-button {
  width: 136px;
  height: 40px;
  background-color: #896AEB;
  border-radius: 8px;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 15px;
  letter-spacing: 0.39px;
  font-family: "CircularStd-Book", sans-serif;
}

/* graph styles */
#graph-container {
  padding-top: 30px;
  min-height: 90px;
  width: 100%;
  height: 250px;
}

#graph {
  width: 300px;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

#graph img {
  position: absolute;
  margin: 0 auto;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
}

#gradient-container {
  position: absolute;
  margin: 0 auto;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  background-image: radial-gradient(70% 66% at center, rgba(55,56,69,0), #373845 70%);
}

#graph-logo {
  position: absolute;
  margin: 0 auto;
  width: 60px;
  height: 60px;
  top: 60px;
  left: 0;
  right: 0;
}

#graph-logo img {
  width: 100%;
}

#graph-header {
  position: absolute;
  margin: 0 auto;
  width: 260px;
  height: 110px;
  top: 130px;
  left: 0;
  right: 0;
}

#graph-header img {
  width: 100%;
}

/* -------------- */

/* Zhekos part start */

#top-info-container {
  margin: 0 auto;
  width: 100%;
}

#top-row-container {
  display: flex;
  justify-content: space-around;
  flex-direction: column-reverse;
  width: 90%;
  margin: 0 auto;
}

.phone-container {
  width: 70%;
  margin: 30px auto 0;
}

.phone-container img {
  width: 100%;
  border-radius: 30px;
  box-shadow: 0 24px 43px rgba(0,0,0,0.25);
}



span {
  color: #896AEB;
}

#top-text-container {
  flex-direction: column;
  color: white;
}

#top-text-container h1 {
  text-align: center;
  height: 100px;
  box-sizing: border-box;
  letter-spacing: 0.4px;
  font-size: 40px;
  font-family: 'SF-Pro-Display-Light', sans-serif;
}

#top-text-container p {
  height: 150px;
  box-sizing: border-box;
  padding: 10px 10px;
  text-align: center;
  opacity: 0.6;
  letter-spacing: 0.4px;
  font-size: 15px;
  font-family: 'SF-Pro-Display-Regular', sans-serif;
}

#stores-container {
  box-sizing: border-box;
  padding: 0 10px;
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: space-around;
  flex-direction: row;
}

#stores-container img {
  height: 40px;
}

#bottom-info-container {
  margin: 0 auto;
  width: 100%;
}

#bottom-row-container {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
}

#bottom-text-container {
  display: flex;
  flex-direction: column;
  color: white;
}

#bottom-text-container h1 {
  margin-top: 60px;
  text-align: center;
  letter-spacing: 0.4px;
  font-size: 40px;
  font-family: 'SF-Pro-Display-Light', sans-serif;
}

#bottom-text-container p {
  box-sizing: border-box;
  padding: 20px 10px;
  text-align: center;
  opacity: 0.6;
  letter-spacing: 0.4px;
  font-size: 15px;
  font-family: 'SF-Pro-Display-Regular', sans-serif;
}

/* Zhekos part end */

/* Roman */

#features{
  margin: auto;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin: 100px auto 0;
}

#features-title {
  font-family: "Helvetica";
  font-size: 40px;
  letter-spacing: 0.4px;
  color: #ffffff;
  margin-bottom: 20px;
}

#features-container{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 1300px;

}

#features-left,
#features-mid,
#features-right {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#features-left img,
#features-mid img,
#features-right img {
  margin-bottom: 19px;
  width: 77px;
  height: 77px;
}

#features-left-title,
#features-mid-title,
#features-right-title {
  text-align: center;
  font-size: 30px;
  font-family: "SF-Pro-Display-Light";
  color: #ffffff;
  letter-spacing: 0.4px;
}

#features-left-description,
#features-mid-description,
#features-right-description {
  box-sizing: border-box;
  padding: 20px 15px;
  text-align: center;
  font-family: "SF-Pro-Display-Regular";
  letter-spacing: 0.4px;
  color: rgba(255, 255, 255, 0.6);
}

#stores {
  height: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #896aeb;
}

#stores-images {
  box-sizing: border-box;
  padding: 10px;
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-content: center;
  justify-content: space-around;
  flex-direction: row;
}

#stores-images a {
  width: 135px;
  height: 40px;
}

#stores-images img {
  width: 100%;
  height: 100%;
}

#stores-title {
  font-family: "SF-Pro-Display-Light";
  color: #ffffff;
  font-size: 25px;
  font-weight: 300;
  letter-spacing: 0.4px;
  margin-top: 20px;
  margin-bottom: 20px;
}

footer {
  height: 320px;
  display: flex;
  margin: auto;
  flex-direction: column;
  justify-content: space-between;
  background-color:  #373845;
  align-items: center;
  box-sizing: border-box;
  padding-top: 70px;
}

#about{
  width: 85px;
}

#contact{
  width: 85px;
  text-align: right;
}

#footer-mid-content {
  margin: 10px 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#footer-mid-content img {
  opacity: 0.6;
  width: 30px;
  height: 30px;
}

#footer-left-content {
  margin: 10px 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#footer-left-content a {
  color: #FFFFFF;
  opacity: 0.6;
  font-size: 15px;
  font-family: "CircularStd-Book", sans-serif;
}

#footer-right-content{
  margin: 10px 0;
  padding-top: 10px;
  width: 100%;
  text-align: center;
  color: #FFFFFF;
  opacity: 0.6;
  font-size: 15px;
  font-family: "CircularStd-Book", sans-serif;
  border-top: 1px solid rgba(255,255,255,0.6);
}



/* End */

@media only screen and (min-width: 645px) and (max-width: 767px) {
  #header-container {
    height: 60px;
    margin: 0 auto;
  }

  #graph-container {
    min-height: 90px;
    width: 100%;
  }

  #graph {
    height: 100%;
    margin: 0 auto;
    position: relative;
    width: 100%;
  }

  #graph img {
    position: absolute;
    margin: 0 auto;
    width: 60%;
    top: 0;
    left: 0;
    right: 0;
  }

  #gradient-container {
    position: absolute;
    margin: 0 auto;
    width: 90%;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    background-image: radial-gradient(70% 66% at center, rgba(55,56,69,0), #373845 70%);
  }

  #graph-logo {
    position: absolute;
    margin: 0 auto;
    width: 50px;
    height: 50px;
    top: 80px;
    left: 0;
    right: 0;
  }

  #graph-logo img {
    width: 100%;
  }

  #graph-header {
    position: absolute;
    margin: 0 auto;
    width: 200px;
    height: 40px;
    top: 140px;
    left: 0;
    right: 0;
  }

  #graph-header img {
    width: 100%;
  }

  #cont {
    width: 100%;
    height: 100vh;
  }

  /* Zhekos part start */

  #main-container {
    width: 1170px;
  }

  #top-info-container {
    margin-top: 40px;
    height: 550px;
  }

  #bottom-info-container {
    height: 450px;
    margin: auto;
  }

  #top-row-container {
    flex-direction: row;
    justify-content: space-between;
    height: 450px;
  }

  #bottom-row-container {
    flex-direction: row;
    justify-content: space-around;
  }

  .phone-container {
    position: relative;
    margin-top: 0;
    height: 637px;
    width: 309px;
  }

  .phone-container img {
    position: absolute;
    margin-left: 50px;
    height: 438px;
    width: 212px;
  }

  #img_hover {
    position: absolute;
    margin-left: 50px;
    border-radius: 30px;
    height: 438px;
    width: 212px;
    box-shadow: inset 0px 0px 35px -12px rgba(255,255,255,1);
  }

  #phone-bottomn{
    margin-right: 50px;
    height: 450px;
  }

  #top-text-container {
    box-sizing: border-box;
    padding-left: 50px;
    padding-top: 10px;
    height: 50vh;

  }

  #top-text-container h1 {
    text-align: left;
    height: auto;
  }

  #bottom-text-container {
    width: 528px;
    height: 450px;
    margin-left: 40px;
  }

  #bottom-text-container h1 {
    text-align: left;
    margin-top: 20px;
  }


  #top-text-container p {
    padding: 30px 0;
    padding-right: 60px;
    text-align: left;
    height: 200px;
  }

  #bottom-text-container p {
    text-align: left;
    padding: 40px 0;
  }

  #stores-container{
    justify-content: space-between;
    padding: 0;
    width: 280px;
  }

/*#features{
  width: 1170px;
}*/

  #features-title{
    font-size: 46px;
    margin-bottom: 100px;
  }

  /* #features-container {
    width: 1170px;
  } */

  #features-right {
    margin-bottom: 100px;
  }

  #features-left img,
  #features-mid img,
  #features-right img {
    margin-bottom: 19px;
    width: 77px;
    height: 77px;
  }

  #features-left-title,
  #features-mid-title,
  #features-right-title {
    margin-bottom: 26px;
    font-size: 32px;
  }

  #features-left-description,
  #features-mid-description,
  #features-right-description {
    width: 357px;
    font-size: 16px;
  }

    footer {
      height: 350px;
    }

    #stores {
      height: 300px;
    }
    #stores-title {
      font-size: 46px;
    }
    #stores-images{
        width: 340px;
    }


}

@media only screen and (min-width: 768px) and (max-width: 1024px) {

  #header-container {
    height: 90px;
    margin: 0 auto;
  }

  #graph-container {
    min-height: 90px;
    width: 100%;
    height: 500px;
  }

  #graph {
    margin: 0 auto;
    position: relative;
    width: 600px;
  }

  #graph img {
    position: absolute;
    margin: 0 auto;
    width: 89%;
    top: 0;
    left: 0;
    right: 0;
  }

  #gradient-container {
    position: absolute;
    margin: 0 auto;
    width: 90%;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    background-image: radial-gradient(70% 66% at center, rgba(55,56,69,0), #373845 70%);
  }

  #graph-logo {
    position: absolute;
    margin: 0 auto;
    width: 100px;
    height: 100px;
    top: 120px;
    left: 0;
    right: 0;
  }

  #graph-logo img {
    width: 100%;
  }

  #graph-header {
    position: absolute;
    margin: 0 auto;
    width: 400px;
    height: 80px;
    top: 235px;
    left: 0;
    right: 0;
  }

  #graph-header img {
    width: 100%;
  }

  /* Zhekos part start */

  #main-container {
    width: 1170px;
  }

  #top-info-container {
    height: 438px;
  }

  #bottom-info-container {
    height: 438px;
    margin-top: 150px;
  }

  #top-row-container {
    flex-direction: row;
    justify-content: space-between;
    height: 450px;
  }

  #bottom-row-container {
    flex-direction: row;
    justify-content: space-around;
  }

  .phone-container {
    position: relative; 
    margin-top: 0;
    height: 637px;
    width: 309px;
  }

  .phone-container img {
    position: absolute;
    margin-left: 50px;
    height: 438px;
    width: 212px;
  }

  #img_hover {
    position: absolute;
    margin-left: 50px;
    border-radius: 30px;
    height: 438px;
    width: 212px;
    box-shadow: inset 0px 0px 35px -12px rgba(255,255,255,1);
  }

  #phone-bottomn{
    margin-right: 50px;
    height: 450px;
  }

  #top-text-container {
    box-sizing: border-box;
    padding-left: 50px;
    padding-top: 10px;
    height: 50vh;
    width: 550px;
  }

  #top-text-container h1 {
    text-align: left;
  }

  #bottom-text-container {
    width: 528px;
    height: 450px;
    margin-left: 40px;
  }

  #bottom-text-container h1 {
    text-align: left;
    margin-top: 20px;
  }


  #top-text-container p {
    padding: 30px 0;
    padding-right: 60px;
    text-align: left;
    height: 200px;
  }

  #bottom-text-container p {
    text-align: left;
    padding: 40px 0;
  }

  #stores-container{
    justify-content: space-between;
    padding: 0;
    width: 280px;
  }

/* Zhekos part end */

/* Roman */

/*#features{
  width: 1170px;
}*/

#features-title{
  font-size: 46px;
  margin-bottom: 100px;
}

/* #features-container {
  width: 1170px;
} */

#features-right {
  margin-bottom: 100px;
}

#features-left img,
#features-mid img,
#features-right img {
  margin-bottom: 19px;
  width: 77px;
  height: 77px;
}

#features-left-title,
#features-mid-title,
#features-right-title {
  margin-bottom: 26px;
  font-size: 32px;
}

#features-left-description,
#features-mid-description,
#features-right-description {
  width: 357px;
  font-size: 16px;
}

  footer {
    height: 350px;
  }

  #stores {
    height: 300px;
  }
  #stores-title {
    font-size: 46px;
  }
  #stores-images{
      width: 340px;
  }

}

@media only screen and (min-width: 1025px) {
  #header-container {
    width: 832px;
    height: 90px;
    margin: 0 auto;
  }

#logo {
  margin: 0;
  opacity: 0.6;
}

#logo img {
  height: 43px;
}

#nav-switcher {
  display: none;
}

#navigation {
  display: flex;
  width: 500px;
  flex-direction: row;
  height: inherit;
  background-color: transparent;
}

#nav-links {
  width: 199px;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
  opacity: 0.6;
}

#nav-links a {
  padding-bottom: 0;
}

.socials {
  width: 114px;
  height: 16px;
  justify-content: space-between;
  padding-bottom: 0;
  opacity: 0.6;
}

  #graph-container {
    min-height: 90px;
    width: 100%;
    height: 400px;
  }

  #graph {
    width: 832px;
    height: 100%;
    margin: 0 auto;
    position: relative;
  }

  #graph img {
    position: absolute;
    margin: 0 auto;
    width: 90%;
    top: 0;
    left: 0;
    right: 0;
  }

  #gradient-container {
    position: absolute;
    margin: 0 auto;
    width: 90%;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    background-image: radial-gradient(70% 66% at center, rgba(55,56,69,0), #373845 70%);
  }

  #graph-logo {
    position: absolute;
    margin: 0 auto;
    width: 100px;
    height: 100px;
    top: 150px;
    left: 0;
    right: 0;
  }

  #graph-logo img {
    width: 100%;
  }

  #graph-header {
    position: absolute;
    margin: 0 auto;
    width: 400px;
    height: 80px;
    top: 255px;
    left: 0;
    right: 0;
  }

  #graph-header img {
    width: 100%;
  }

  #cont {
    width: 100%;
    height: 100vh;
  }

  /* Zhekos part start */

  #main-container {
    width: 832px;
  }

  #top-info-container {
    height: 510px;
    width: 832px;
  }

  #bottom-info-container {
    height: 510px;
    width: 832px;
    margin-top: 212px;
  }

  #top-row-container {
    flex-direction: row;
    justify-content: space-between;
    width: 832px;
    margin: 0;
  }

  #bottom-row-container {
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    width: 100%;
  }

  .phone-container {
    position: relative;
    height: 510px;
    width: 248px;
    margin: 0;
    margin-left: 70px;
  }

  .phone-container img {
    position: absolute;
    height: 510px;
    width: 248px;
    border-radius: 36px;
  }

  #img_hover {
    position: absolute;
    height: 510px;
    width: 248px;
    border-radius: 36px;
    box-shadow: inset 0px 0px 35px -12px rgba(255,255,255,1);
  }
  #top-text-container {
    box-sizing: border-box;
    padding-top: 17px;
    height: 50vh;
    width: 470px;
  }

  #bottom-text-container {
    margin-left: 54px;
    padding-top: 140px;
    width: 423px;
  }

  #bottom-text-container h1 {
    margin: 0;
    text-align: left;
  }

  #top-text-container p {
    padding: 40px 0;
    padding-right: 140px;
    text-align: left;
    height: auto;
  }

  #top-text-container h1 {
    height: auto;
    text-align: left;
  }

  #bottom-text-container p {
    padding: 40px 0;
    text-align: left;
    /* padding-right: 150px;  */
  }

  #phone-bottomn {
    margin: 0;
    margin-right: 54px;
  }

  #stores-container {
    padding: 0;
    justify-content: flex-start;
  }

  #stores-container img {
    padding-right: 8px;
  }

/* Zhekos part end */

/* Roman */

#features{
  width: 832px;
  height: 440px;
  margin-top: 192px;
  padding: 0;
}
#features-title{
  font-size: 37px;
  margin-bottom: 66px;
}

#features-container {
  width: 832px;
  flex-direction: row;
  height: auto;
  justify-content: space-between;
}
#features-left,
#features-mid,
#features-right {
  margin-bottom: 137px;
  align-items: left;
  width: 250px;
}

#features-left img,
#features-mid img,
#features-right img {
  margin-bottom: 15px;
  width: 62px;
  height: 62px;
}

#features-left-title,
#features-mid-title,
#features-right-title {
  margin-bottom: 21px;
  font-size: 21px;
  width: 250px;
  text-align: left;
}

#features-left-description,
#features-mid-description,
#features-right-description {
  width: 240px;
  font-size: 13px;
  text-align: left;
  padding: 0;
}

  footer {
    width: 832px;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 0;
  }

  #footer-left-content,
  #footer-mid-content,
  #footer-right-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 12px;
    width: 159px;
  }

 #footer-mid-content{
  width: 89px;
 }

 #footer-right-content{
  border-top: 0;
 }

  #footer-mid-content a img {
    height: 13px;
    width: 13px;
  }

  #about{
    width: auto;
  }

  #contact{
    width: auto;
  }

  #stores {
    height: 240px;
  }
  #stores-title {
    font-size: 37px;
  }
  #stores-images{
      width: 272px;
  }

}

@media only screen and (min-width: 1365px) {
  #header-container {
    width: 1170px;
    height: 90px;
    margin: 0 auto;
  }

  #graph-container {
    min-height: 90px;
    width: 100%;
    height: 550px;
  }

  #graph {
    width: 1270px;
    height: 100%;
    margin: 0 auto;
    position: relative;
  }

  #graph img {
    position: absolute;
    margin: 0 auto;
    width: 90%;
    top: 0;
    left: 0;
    right: 0;
  }

  #gradient-container {
    position: absolute;
    margin: 0 auto;
    width: 90%;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    background-image: radial-gradient(70% 66% at center, rgba(55,56,69,0), #373845 70%);
  }

  #graph-logo {
    position: absolute;
    margin: 0 auto;
    width: 100px;
    height: 100px;
    top: 230px;
    left: 0;
    right: 0;
  }

  #graph-logo img {
    width: 100%;
  }

  #graph-header {
    position: absolute;
    margin: 0 auto;
    width: 400px;
    height: 80px;
    top: 355px;
    left: 0;
    right: 0;
  }

  #graph-header img {
    width: 100%;
  }

  /* Zhekos part start */

  #main-container {
    width: 1170px;
  }

  #top-info-container {
    height: 650px;
    width: 1170px;
  }

  #bottom-info-container {
    height: 650px;
    width: 1170px;
    margin-top: 280px;
  }

  #top-row-container {
    flex-direction: row;
    justify-content: space-between;
    width: 1170px;
    margin: 0;
  }

  #bottom-row-container {
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    width: 100%;
  }

  .phone-container {
    position: relative;
    height: 637px;
    width: 309px;
    margin: 0;
    margin-left: 108px;
  }

  .phone-container img {
    position: absolute;
    height: 637px;
    width: 309px;
    border-radius: 45px;
  }

  #img_hover {
    position: absolute;
    height: 637px;
    width: 309px;
    border-radius: 45px;
    box-shadow: inset 0px 0px 35px -12px rgba(255,255,255,1);
  }
  #top-text-container {
    box-sizing: border-box;
    padding-top: 17px;
    height: 50vh;
    width: 674px;
  }

  #bottom-text-container {
    margin-left: 67px;
    padding-top: 175px;
    width: 528px;
  }

  h1 {

    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.4px;
  }

  p{
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.67;
    letter-spacing: 0.4px;
  }

  #bottom-text-container h1 {
    margin: 0;
    text-align: left;
  }

  #top-text-container p {
    padding: 50px 0;
    padding-right: 174px;
    text-align: left;
    height: auto;
  }

  #top-text-container h1 {
    height: auto;
    text-align: left;
  }

  #bottom-text-container p {
    padding: 50px 0;
    text-align: left;
    /* padding-right: 150px;  */
  }

  #phone-bottomn {
    margin: 0;
    margin-right: 67px;
  }

  #stores-container {
    padding: 0;
    justify-content: flex-start;
  }

  #stores-container img {
    padding-right: 10px;
  }

/* Zhekos part end */

/* Roman */

#features{
  width: 1170px;
  height: 600px;
  padding: 0;
  margin-top: 220px;
}
#features-title{
  font-size: 46px;
  margin-bottom: 82px;
}

#features-container {
  width: 1170px;
  flex-direction: row;
  height: auto;
  justify-content: space-between;
}
#features-left,
#features-mid,
#features-right {
  margin-bottom: 171px;
  align-items: left;
  min-width: 357px;
}

#features-left img,
#features-mid img,
#features-right img {
  margin-bottom: 19px;
  width: 77px;
  height: 77px;
}

#features-left-title,
#features-mid-title,
#features-right-title {
  margin-bottom: 26px;
  font-size: 30px;
  min-width: 357px;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.4px;
}

#features-left-description,
#features-mid-description,
#features-right-description {
  min-width: 357px;
  font-size: 16px;
  text-align: left;
  padding: 0;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.88;
  letter-spacing: 0.4px;
}

  footer {
    width: 1170px;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 0;
  }

  #footer-left-content,
  #footer-mid-content,
  #footer-right-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 15px;
    width: 199px;
  }

 #footer-mid-content{
  width: 111px;
 }

 #footer-right-content{
  border-top: 0;
 }

  #footer-mid-content a img {
    height: 16px;
    width: 16px;
  }

  #about{
    width: auto;
  }

  #contact{
    width: auto;
  }

  #stores {
    height: 300px;
  }
  #stores-title {
    font-size: 46px;
  }
  #stores-images{
      width: 340px;
  }
}
